* {
  font-family: "Roboto", sans-serif;
}

.center {
  text-align: center;
}

.chatbox {
  height: 90vh;
  max-height: initial;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-input {
  position: absolute;
  bottom: 2rem;
  width: 80%;
}
